div.account-settings {
  div.account-content {
    width: 977px;
    min-height: calc(100% - 400px);
    margin: 50px auto;
    background-color: #ffffff;
    border: solid 1px #e9e9ee;
    div.content-box {
      padding: 40px;
    }
    div.store-content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
    h2.content-title {
      font-size: 22px;
      font-weight: 500;
      color: #4a4a4a;
    }
    p.content-description {
      margin: 10px 0 40px;
      font-size: 16px;
      line-height: 1.38;
      color: #6a6a6a;
    }
    div.read-only {
      margin-bottom: 10px;
      padding: 16px 28px;
      border-radius: 8px;
      font-size: 16px;
      line-height: 1.56;
      color: #6a6a6a;
      background-color: #f5f9fe;
      white-space: pre-line;
    }
    button.btn {
      margin: 250px auto 40px;
    }
  }
}
