#auth {
  background-image: url("./../../../assets/images/bg_dot@2x.jpg");
  background-size: 15px 15px;
  div.auth-container {
    width: 520px;
    margin: 60px auto;
    border: solid 1px #e7e7e7;
    background-color: #ffffff;
  }
  div.auth-main {
    padding: 40px 60px 20px;
    div.logo {
      margin-bottom: 10px;
      text-align: center;
    }
    h1.auth-title {
      width: 338px;
      margin: 0 auto 0;
      font-size: 22px;
      line-height: 1.4;
      color: #4a4a4a;
      text-align: center;
    }
    div.auth-box {
      margin-top: 40px;
    }
    img.auth-icon {
      display: block;
      margin: 0 auto 40px;
    }
    p.message {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 1.4;
      color: #4a4a4a;
      text-align: center;
    }
    form.form-control {
      // margin-top: 90px;
      div.link {
        text-align: right;
        a.forgot-password {
          display: inline-block;
          margin-bottom: 42px;
          font-size: 12px;
          text-align: right;
          color: #6a6a6a;
        }
      }
      button.btn {
        margin: 0 auto 83px;
      }
    }
  }
  div.auth-footer {
    padding: 20px 0 70px;
    border-top: solid 1px #e7e7e7;
    p.link-message {
      font-size: 14px;
      text-align: center;
      color: #5f9bf9;
      a {
        font-weight: bold;
        text-decoration: underline;
        color: #5f9bf9;
      }
    }
  }
}
