ul.api-key-list {
  li.api-key-item {
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    &:hover {
      background-color: #f5f9fe;
    }
    h3.api-key-name {
      margin-right: 10px;
      display: inline;
      font-size: 20px;
      font-weight: 500;
      color: #4a4a4a;
      vertical-align: middle;
    }
    span.domain {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 1.31;
      color: #6a6a6a;
      vertical-align: middle;
    }
    span.api-key {
      background-color: #f5f9fe;
      margin-left: 20px;
      padding: 5px 12px;
      border-radius: 8px;
      font-size: 16px;
      line-height: 1.31;
      color: #6a6a6a;
      vertical-align: middle;
    }
  }
}
